*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'poppins'sans-serif;
}
body{
	background-image:  url("../Images/pexels-photo-3584283.jpeg");
	background-size:cover;
	background-repeat: no-repeat;

}
.naviigation
{
	position: fixed;
	top:15px;
	width:90%;
	height: 70px;
	background-size: auto;
	margin-left:850px;
	margin-top: 20px;
	overflow:hidden;	
}
nav
{
	width:100%;
	height:50px;
	line-height: 50px;
}
.lists
{
	flaot:left;
	margin-right: 30px;
}
.items{
	list-style-type:none;
	display:inline-block;
	transition:1.5s all;
	border-radius: 10px;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 25px;
	color: black;
}
.items:hover
{
	background-color:black;
	color:white;
}
.link
{
	text-decoration: none;
	color:white;
	padding: 30px;
	font-family: "Segeo UI";
}
.contact{
	position: relative;
	min-height: 100vh;
	padding: 50px 100px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	color: white;
	
}
.contact .content{
	max-width: 800px;
	text-align: center;
}

.contact .content h2{
	font-size:60px;
	font-weight:500;
	color:  #fff;
}
.container{
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 30px;
}
.container .contactInfo{
	width: 50%;
	display: flex;
	flex-direction: column;
	
}
.container .contactInfo .box{
	position: relative;
	padding: 20px 0;
	display: flex;
}
.container .contactInfo .box .icon{
	min-width: 50px;
	height: 50px;
	background: #fff;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
	font-size:22px;
	color: black;
	
}
.container .contactInfo .box .text{
	display: flex;
	margin-left: 20px;
	font-size: 16px;
	color: white;
	flex-direction: column;
	font-weight: 300;
}
.container .contactInfo .box .text h3{
	font-weight: 500;
	color: #00bcd4;
}
.contactForm{
	width: 40%;
	padding: 40px;
	background: #fff;

}
.contactForm h2{
	font-size: 30px;
	color: black;
	font-weight: 500;
/*	color: white;*/
}
.contactForm .inputBox{
	position:relative;
	width: 100%;
	margin-top: 10px;
}
.contactForm .inputBox input,
.contactForm .inputBox textarea{
	width: 100%;
	padding: 5px 0 ;
	font-size: 16px;
	margin: 10px 0;
	border: none;
	border-bottom:2px solid #333;
	autline:none;
	resize: none;
}
.contactForm .inputBox span{
	position: absolute;
	left: 0;
	padding: 5px 0;
	font-size: 16px ;
	margin: 10px 0;
	pointer-events: none;
	transition: 0.5%;
	color: black;

}
.contactForm .inputBox input:focus~span,
.contactForm .inputBox input:valid~span,
.contactForm .inputBox input:focus~span,
.contactForm .inputBox input:valid~span{

	color: #e91e63;
	font-size: 12px;
	transform: translateY(-20px);
}
.contactForm .inputBox input [type="submit"]
{
	width: 100px;
	background: black;
	color: black;
	border: none;
	cursor: pointer;
	padding: 10px;
	font-size: 18px;
	
}
@media(max-width:991px)
{
	.contact{
		padding: 50px;
	}
	.container
	{
		flex-direction: column;
	}
	.contactForm .contactInfo{
		margin-bottom: 40px;
	}
	.container .contactInfo,
	.contactInfo
	{
		width: 100%;
	}
}
.content
{
	position:absolute;
	top:100px;
	right:290px;
}
.text
{
	color:black;
}


